@media (min-width: 960px) {
  header.VPNav {
    position: absolute !important;
  }
}

.VPNav .title {
  color: var(--su-c-text-1);
}

.VPNavBar > .divider,
.VPNavBar .divider-line {
  background-color: transparent !important;
}

.VPNavBarMenuLink {
  color: var(--su-c-text-1) !important;
}

.VPNavBar > .wrapper > .container {
  max-width: 100%;
}